nav ul li
{
    list-style-type:none;
    background-color:rgb(58, 58, 59);
    display:inline-block;
}
nav ul li a
{
    color:white;
    text-decoration:none;

}
nav ul li
{
    font-family:impact, fantasy;
    display: inline-block;
    text-decoration:none;
    padding:4px 10px;
    margin:4px;
    border-radius:3px;
            transform: skewX(-10deg);
         -o-transform: skewX(-10deg);
       -moz-transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    background-color:rgb(43, 108, 188);
}

nav ul li:hover
{
    background-color:grey; 
}

ul#nav li a span 
{
    display: inline-block;
            transform: skewX(10deg);
         -o-transform: skewX(10deg);
       -moz-transform: skewX(10deg);
    -webkit-transform: skewX(10deg);
}

header
{
    background-color:rgb(58, 58, 59);
    font-family:impact, fantasy; 
}

#active 
{
    background-color:#959090;
}

footer
{
    background-color:darkgray;
    width:100%;
    position:fixed;
    margin:0;
    padding:0;
    bottom:0;
    font-weight:50;
    font-family:impact, fantasy;
}

footer p
{
    
    color:white;
    text-align: center;
}

body
{
    font-family:sans-serif;
    background-color:grey;
    margin-bottom:100px;
}

h1,h2,p
{
    color:white;
}

.newsBox{
    background-color:darkgrey;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    width:70%;
    margin-bottom:1%;
}

.useful_links {
    display:inline-block;
    width:20%;
    position:absolute;
    left:75%;
    height:70%;
    background-color:darkgrey;
    text-decoration:none;
}

.recentLinks{
    position:absolute;
    left:2%;
    background-color: darkgrey;
    display:inline-block;
    width:30%;
    height:70%;
    text-align:justify;
    line-height:25px;
}            

.middleBox{
    display:inline-block;
    width:30%;
    position:absolute;
    left:35%;
    height:70%;
    background-color:darkgrey;
    line-height:25px;
}

.rightBox{
    display:inline-block;
    width:30%;
    position:absolute;
    left:68%;
    height:70%;
    background-color:darkgrey;
    line-height:25px;
}

.title{
    margin-left:10px;
}

.map{
    position: absolute;
    top: 320px;
    left: 35px;
}

.newsImage{
    border:5px solid black;
    margin-right:10px;
}

.buttons{
    background-color: rgb(58, 58, 59);
}

.videoBox{
    background-color:darkgrey;
    display:inline-block;
    margin-left:1%;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    width:48%;
    margin-bottom:1%;
}

.psyonixText{
    padding-left:35px;
    text-align:justify;
}